@model FMS._23.V1.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4 style="color: #FF00FF;text-align:center"><b>EDIT PART DETAILS ALL DEPOT</b></h4>
<a asp-action="Index" style="float:right" class="btn btn-success">Back to List</a>
<br />
<hr />
<div class="container">
<div class="row">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="PartNumber" class="control-label"></label>
                <input asp-for="PartNumber" class="form-control" readonly="readonly" />
                <span asp-validation-for="PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="AltPartNum" class="control-label"></label>
                <input asp-for="AltPartNum" class="form-control" />
                <span asp-validation-for="AltPartNum" class="text-danger"></span>
            </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
                <div class="form-group col-md-4">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
                <div class="form-group col-md-4">
                <label asp-for="UnitOfMeasurmentId" class="control-label"></label>
                <select asp-for="UnitOfMeasurmentId" class="form-control" asp-items="ViewBag.UnitOfMeasurmentId"></select>
                <span asp-validation-for="UnitOfMeasurmentId" class="text-danger"></span>
            </div>
            </div>

            <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
           
            <div class="form-group col-md-4">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Igst" class="control-label"></label>
                <input asp-for="Igst" class="form-control" />
                <span asp-validation-for="Igst" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Cgst" class="control-label"></label>
                <input asp-for="Cgst" class="form-control" />
                <span asp-validation-for="Cgst" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Sgst" class="control-label"></label>
                <input asp-for="Sgst" class="form-control" />
                <span asp-validation-for="Sgst" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="MinimumStock" class="control-label"></label>
                <input asp-for="MinimumStock" class="form-control" />
                <span asp-validation-for="MinimumStock" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Mrp" class="control-label"></label>
                <input asp-for="Mrp" class="form-control" />
                <span asp-validation-for="Mrp" class="text-danger"></span>
            </div>
         </div>
            <div class="form-group col-md-4">
                <br/>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
