@model FMS._23.V1.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Your password reset request has been received. Please check your email for further instructions.</p>
